body {

	background-image: url('body.jpg');
	color:#000305;
	font-size: 87%; /* base font-size = 14px */
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;

}

a {

	text-decoration: none;

}

a:link, a:visited {color: #e74c3c ;}
a:hover, a:active { color: #f58233 ;}

.body {

	margin: 10px auto;
	width: 70%;
	clear: both;
}

/* --------- main header ---------*/

.mainheader img {
width: 100%;
}

.mainheader nav {

	background-color: #e74c3c;
	height: 40px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

}

.mainheader nav ul {
	text-align: center;
	list-style: none;
	margin: 0 auto;

}

.mainheader nav ul li {
	display: inline;
}

.mainheader a:link, .mainheader a:visited {
	color: white;
	padding: 10px 40px;
	display: inline-block;
	height: 20px;
}

.mainheader a:hover,.mainheader a:active {
	color: white;
	background-color: #f58233;
	text-shadow: none;
}


/* --------- MAIN CONTENTr ---------*/

.mainContent {
	float: left;
	width: 70%;
}

.top-content {

	background-color: #fff;
	padding: 3%;
	margin-top: 3%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


.post-info {

	font-size: 90%;
	color: #999;
	font-style: italic;
	margin-top: -20px;
}

.post-content {

	display: block;
}


/* --------- SIDE BAR ---------*/


 .theSidebar{

 width: 24%;
 margin: 2% 0 0 2%;
 float: left;
 padding: 2%;
 background-color: #FFF;
 border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;

}


/* --------- FOOTER ---------*/

.footer  {
	float: left;
	width: 100%;
	background-color: #e74c3c;
	height: 60px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

}

.footer p {

	text-align: left;
	padding-left: 10px;
	color: white;
	width: 90%;
}

.post-img{

	width: 100%;
}

figure {

	margin: 25px 0;
	font-size: 80%;
	color: #999;
}











